.dropdown {
  @apply relative inline-block;
}

.dropdown__toggle {
  @apply block m-1;
}

.dropdown__menu {
  @apply space-y-1
  bg-white
    z-[3]
    rounded-lg
    py-3
    px-2
    shadow-md
    absolute
    w-[10rem]
    min-w-[10rem]
    invisible
    opacity-0
    group-focus-within:opacity-100
    group-focus-within:visible
    group-focus-within:scale-100
    scale-95
    transform
    transition
    duration-200
    ease-out;
}

.dropdown__menu__top {
  @apply top-auto bottom-full;
}

.dropdown__menu__bottom {
  @apply top-full bottom-auto;
}

.dropdown__menu__right {
  @apply left-full top-0;
}

.dropdown__menu__left {
  @apply right-full top-0;
}

.dropdown__menu__vertical__start {
  @apply left-0;
}

.dropdown__menu__vertical__end {
  @apply right-0;
}

.dropdown__menu__vertical__center {
  @apply left-1/2 -translate-x-1/2;
}

.dropdown__menu__lateral__start {
  @apply top-0 bottom-auto;
}

.dropdown__menu__lateral__end {
  @apply bottom-0 top-auto;
}

.dropdown__menu__lateral__center {
  @apply top-1/2 -translate-y-1/2;
}
/* bg-base-100 */
.dropdown__divider {
  @apply h-[0.5px];
}

.dropdown__wrapper__divider {
  @apply py-2;
}

/* hover:bg-base-50 text-base-800 */
.dropdown__item__li {
  @apply text-sm p-2  cursor-pointer rounded-md;
}

/* bg-base-50  text-base-400 */
.dropdown__item__li__disabled {
  @apply cursor-not-allowed select-none;
}
